# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# SQLite Database
#db.sqlite3

# Media Files
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
*.pyo
*.pyd

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/


# screenshot
Screenshot*.png